<table class="table">
  <tbody>
    <tr>
      <td><img src="../../../../../assets/img/bank.png"></td>
      <td>Bank</td>
      <td>Generating invoice file for payment</td>
      <td><button (click)="generateInvoice()">Pay</button></td>
    </tr>
    <tr>
      <td><img src="../../../../../assets/img/ibox.png"></td>
      <td>IBox terminal</td>
      <td>Payment with Ibox</td>
      <td><a routerLink="/ibox">Pay</a></td>
    </tr>
    <tr>
      <td><img src="../../../../../assets/img/visa.png"></td>
      <td>Visa</td>
      <td>Payment with cart</td>
      <td><a routerLink="/visa">Pay</a></td>
    </tr>
  </tbody>
</table>
