<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Sum</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of currentOrder.orderDetails">
      <th scope="row"><a [routerLink]="['/games/',item.game.key]">{{item.game.name}}</a> </th>
      <td>
        <input type="number" min="1" [max]="item.game.unitsInStock"
          (focusout)="changeQuantity(item.id,$event.target.value)" onKeyDown="return false" [value]="item.quantity">
      </td>
      <td>{{item.price}}</td>
      <td>{{item.total}}</td>
      <td><button class="btn btn-danger" (click)="removeOrderItem(item.id)">X</button>
      </td>
    </tr>
  </tbody>
</table>
<div>Total sum: {{currentOrder.totalSum}}</div>

<button class="btn btn-success" *ngIf="this.currentOrder && this.currentOrder.orderDetails" (click)="makeOrder()">Make
  order</button>
