<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Username</th>
        <th scope="col">Role</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.email}}</td>
        <td>{{user.userName}}</td>
        <td>{{user.role}}</td>
        <td>
          <a class="btn btn-success" [routerLink]="['/users/update',user.userName]">Update role</a>
          <!--<a class="btn btn-success" [routerLink]="['/games',game.key]">Details</a>
          <a class="btn btn-info" [routerLink]="['/games/update',game.key]">Edit</a>
          <a class="btn btn-danger" (click)="removeGame(game.key)">Remove</a>

          <a *ngIf="game.typeOfBase!=1" class="btn btn-info" [routerLink]="['/games',game.key,'comments']">Comments</a>-->
        </td>
      </tr>
    </tbody>
  </table>
</div>
