<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">{{"Labels.Email" | translate}}</th>
        <th scope="col">{{'Labels.Username' | translate}}</th>
        <th scope="col">{{"Labels.Role" | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.email}}</td>
        <td>{{user.userName}}</td>
        <td>{{user.role}}</td>
        <td>
          <a class="btn btn-success" [routerLink]="['/users/update',user.userName]">{{'Button.Update' | translate}}</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
