<div>
  <p>{{"Publisher.Company name" | translate}}: {{currentPublisher.companyName}}</p>
  <p>{{"Labels.Home page" | translate}}:{{currentPublisher.homePage}}</p>
  <p>{{"Publisher.Contact name" | translate}}:{{currentPublisher.contactName}}</p>
  <p>{{"Publisher.Contact title" | translate}}:{{currentPublisher.contactTitle}}</p>
  <p>{{"Publisher.Country" | translate}}:{{currentPublisher.country}}</p>
  <p>{{"Publisher.Region" | translate}}:{{currentPublisher.region}}</p>
  <p>{{"Publisher.City" | translate}}:{{currentPublisher.city}}</p>
  <p>{{"Publisher.Address" | translate}}:{{currentPublisher.address}}</p>
  <p>{{"Publisher.Fax" | translate}}:{{currentPublisher.fax}}</p>
  <p>{{"Publisher.Phone" | translate}}:{{currentPublisher.phone}}</p>
  <p>{{"Publisher.Postal code" | translate}}:{{currentPublisher.postalCode}}</p>
  <label>{{"Labels.Description" | translate}}</label>
  <textarea class="form-control" disabled="true" [value]="currentPublisher.description"
    name="textareaDescription"></textarea>
</div>
<div>
  <a *ngIf="currentPublisher.typeOfBase!=1" class="btn btn-success"
    [routerLink]="['/publishers/update',currentPublisher.companyName]">{{"Button.Edit" | translate}}</a>
  <a *ngIf="this.publisherPermission.removePublisherAccess(currentPublisher)" class="btn btn-danger"
    (click)="removePublisher(publisher.id)">{{"Button.Remove" | translate}}</a>
</div>
