<form #form="ngForm">
  <mat-tab-group>
    <mat-tab [label]="'Button.Lang.English' | translate">
      <div class="form-group col-4">
        <label>{{"Name" | translate}}</label>
        <input type="text" class="form-control" required #platformType="ngModel" name="type" maxlength="50"
          [(ngModel)]="platformToAdd.type">
        <p *ngIf="platformType.invalid && platformType.touched">{{"Errors.RequiredField" | translate}}</p>
      </div>
    </mat-tab>
    <mat-tab *ngFor="let translate of this.platformToAdd.translations"
      [label]="'Button.Lang.'+ translate.lang | translate">
      <div class="form-group col-4">
        <label>{{"Name" | translate}}</label>
        <input class="form-control" type="text" ngModel [(ngModel)]="translate.type" name="type{{translate.lang}}">
      </div>
    </mat-tab>
  </mat-tab-group>
  <input type="submit" [disabled]="!form.valid" class="btn btn-success" (click)="addPlatform()"
    [value]="'Button.Add' | translate">
</form>
