<h1>all games</h1>

<div class="container col-4">
  <div *ngFor="let game of games" class="jumbotron ">
    <div>Name:{{game.name}}</div>
    <div>Price:{{game.price}}</div>
    <a class="btn btn-success" (click)="addOrderItem(game.key,game.price)">Buy</a>
    <a class="btn btn-success" [routerLink]="['/games',game.key]">Details</a>
    <a class="btn btn-info" [routerLink]="['/games/update',game.key]">Edit</a>
    <a class="btn btn-danger" (click)="removeGame(game.id)">Remove</a>
    <a class="btn btn-info" [routerLink]="['/games',game.key,'comments']">Comments</a>
  </div>
</div>
