<div style="display:block; width:100%;">
  <div style="width:80%; float: left;">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let game of games">
          <td>{{game.id}}</td>
          <td>{{game.name}}</td>
          <td>{{game.price}}</td>
          <td>{{game.description}}</td>
          <td>
            <a class="btn btn-success" (click)="addOrderItem(game.key)">Buy</a>
            <a class="btn btn-success" [routerLink]="['/games',game.key]">Details</a>
            <a class="btn btn-info" [routerLink]="['/games/update',game.key]">Edit</a>
            <a class="btn btn-danger" (click)="removeGame(game.id)">Remove</a>
            <a class="btn btn-info" [routerLink]="['/games',game.key,'comments']">Comments</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div style="width:20%; float: left; background-color: goldenrod;">
    <app-filter-panel></app-filter-panel>
  </div>
</div>
