<form #form="ngForm">
  <div class="form-group col-md-4">
    <label>Email</label>
    <input class="form-control" type="email" [(ngModel)]="this.loginDTO.email" required #uemail="ngModel" email
      name="email">
    <p *ngIf="uemail.invalid && uemail.touched">Email is required </p>

  </div>
  <div class="form-group col-md-4">
    <label>Password</label>
    <input class="form-control" type="password" [(ngModel)]="this.loginDTO.password" required #upassword="ngModel"
      name="password">
  </div>
  <input class="btn btn-success" [disabled]="!form.valid" (click)="login()" type="submit" value="Login">
</form>
