<table class="table">
  <thead>
    <tr>
      <th scope="col">{{"Name" | translate}}</th>
      <th>{{"Quantity" | translate}}</th>
      <th>{{"Game.Price" | translate}}</th>
      <th>{{"Game.Sum" | translate}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of currentOrder.orderDetails">
      <th scope="row"><a [routerLink]="['/games/',item.game.key]">{{item.game.name}}</a> </th>
      <td>
        <label>{{item.quantity}}</label>
      </td>
      <td>{{item.price}}</td>
      <td>{{item.total}}</td>
    </tr>
  </tbody>
</table>
<div>{{"Order.Total sum" | translate}}: {{currentOrder.totalSum}}</div>
<app-payment-type [orderId]="this.currentOrder.id">
</app-payment-type>
<button class="btn btn-danger" (click)="cancelOrder()">{{"Order.Cancel" | translate}}</button>
