<div>
  <p>Name:{{game.name}}</p>
  <p>Key:{{game.key}}</p>
  <p>Price:{{game.price}}</p>
  <p>unitsInStock:{{game.unitsInStock}}</p>
  <div>Genres:
    <ul>
      <li *ngFor="let genre of game?.genres">
        {{genre.name}}
      </li>
    </ul>
    <div *ngIf="game.genres.length==0">Without genres</div>
  </div>
  <div> Platforms :
    <ul>
      <li *ngFor="let platform of game.platformTypes">
        {{platform?.type}}
      </li>
    </ul>
    <div *ngIf="game.platformTypes.length==0">Without platforms</div>
  </div>
  <div>Publisher:
    <a *ngIf="game.publisher"
      [routerLink]="['/publishers',game.publisher.companyName]">{{game.publisher.companyName}}</a>
    <div *ngIf="!game.publisher" #unknown>Unknown</div>
  </div>
  <a class="btn btn-success" (click)="downloadGame()">Download game</a>
</div>
