<div>
  <p>Name:{{game.name}}</p>
  <p>Key:{{game.key}}</p>
  <p>Price:{{game.price}}</p>
  <p>unitsInStock:{{game.unitsInStock}}</p>
  <div>
    <ul>Genres
      <li *ngFor="let genre of game?.genres">
        {{genre.name}}
      </li>
    </ul>
  </div>
  <div>
    <ul>
      Platforms
      <li *ngFor="let platform of game.platformTypes">
        {{platform?.type}}
      </li>
    </ul>

  </div>
  <p *ngIf="game.publisher">Publisher:<a
      [routerLink]="['/publishers',game.publisher.id]">{{game.publisher.companyName}}</a></p>
  <a class="btn btn-success" (click)="downloadGame()">Download game</a>
</div>
