<form #form="ngForm">
  <mat-tab-group>
    <mat-tab [label]="'Button.Lang.en' | translate">
      <div class="form-group col-4">
        <label>{{"Name" | translate}}</label>
        <input type="text" required #genreName="ngModel" class="form-control" [(ngModel)]="genreToEdit.name"
          maxlength="150" name="genreName">
        <p *ngIf="genreName.invalid && genreName.touched">{{"Errors.RequiredField" | translate}}</p>
      </div>
      <div class="form-group col-4">
        <label>{{"Labels.Description" | translate}}</label>
        <textarea class="form-control" rows="3" maxlength="5000" ngModel name="genreDesc"
          [(ngModel)]="this.genreToEdit.description"></textarea>
      </div>
    </mat-tab>
    <mat-tab *ngFor="let translate of this.genreToEdit.translations"
      [label]="'Button.Lang.'+translate.language | translate">
      <div class="form-group col-4">
        <label>{{"Name" | translate}}</label>
        <input type="text" ngModel class="form-control" [(ngModel)]="translate.name" maxlength="150"
          name="genreName{{translate.language}}">
      </div>
      <div class="form-group col-4">
        <label>{{"Labels.Description" | translate}}</label>
        <textarea class="form-control" rows="3" maxlength="5000" ngModel name="genreDesc{{translate.language}}"
          [(ngModel)]="translate.description"></textarea>
      </div>
    </mat-tab>
  </mat-tab-group>
  <div class="form-group col-4">
    <div class="form-control">
      <label>{{"Genre.Parent genre" | translate}}</label>
      <select name="list" [(ngModel)]="genreToEdit.parentGenreId">
        <option [ngValue]="null" [selected]="genreToEdit.parentGenreId">None</option>
        <option name="publishers" *ngFor="let genre of allGenres" [ngValue]="genre.id">
          {{genre.name}}</option>
      </select>
    </div>
    <input type="submit" [disabled]="!form.valid" class="btn btn-success" (click)="updateGenre()"
      [value]="'Button.Update' | translate">
  </div>
</form>
