<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Type</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let platform of platforms">
      <th scope="row">{{platform.id}}</th>
      <td>{{platform.type}}</td>
      <td>
        <button class="btn btn-success" [routerLink]="['/platforms/update',platform.id]">Edit</button>
        <button class="btn btn-danger" (click)="removePlatform(platform.id)">Remove</button>
      </td>
    </tr>
  </tbody>
</table>
