<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">{{"Shipper.Ship name" | translate}}</label>
      <input type="shipName" class="form-control" name="shipName" [(ngModel)]="this.orderToUpdate.shipName"
        id="shipName">
    </div>
    <div class="form-group col-md-6">
      <label for="inputShipCountry">{{"Shipper.Ship country" | translate}}</label>
      <input type="shipCountry" class="form-control" name="shipCountry" [(ngModel)]="this.orderToUpdate.shipCountry"
        id="inputshipCountry">
    </div>
  </div>
  <div class="form-group">
    <label for="inputshipRegion">{{"Shipper.Ship region" | translate}}</label>
    <input type="text" class="form-control" name="shipRegion" [(ngModel)]="this.orderToUpdate.shipRegion"
      id="shipRegion">
  </div>
  <div class="form-group">
    <label>{{"Shipper.Ship city" | translate}}</label>
    <input type="text" name="shipCity" [(ngModel)]="this.orderToUpdate.shipCity" class="form-control">
  </div>
  <div class="form-group">
    <label>{{"Shipper.Ship address" | translate}}</label>
    <input type="text" name="shipAddress" [(ngModel)]="this.orderToUpdate.shipAddress" class="form-control">
  </div>
  <div class="form-group">
    <label>{{"Shipper.Ship postal code" | translate}}</label>
    <input type="text" name="shipPostalCode" [(ngModel)]="this.orderToUpdate.shipPostalCode" class="form-control">
  </div>
  <div class="form-group">
    <label>{{"Order.Status" | translate}}: </label>
    <select name="orderStatuses" [(ngModel)]="this.orderToUpdate.status">
      <option name="orderStatus" *ngFor="let status of statuses" [ngValue]="status.value">
        {{status.label}}</option>
    </select>
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">{{"Name" | translate}}</th>
          <th>{{"Quantity" | translate}}</th>
          <th>{{"Order.Discount" | translate}}</th>
          <th>{{"Game.Price" | translate}}</th>
          <th>{{"Game.Sum" | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of orderToUpdate.orderDetails">
          <th scope="row"><a [routerLink]="['/games/',item.game.key]">{{item.game.name}}</a> </th>
          <td>
            <input type="number" min="1" [max]="item.game.unitsInStock" name="itemQuantity" onKeyDown="return false"
              [(ngModel)]="item.quantity" (focusout)="changeDetails(item.id)">
          </td>
          <td><input type="number" min="0" max="100" (focusout)="changeDetails(item.id)" [(ngModel)]="item.discount"
              name="itemDiscount"></td>
          <td><input type="number" [(ngModel)]="item.price" (focusout)="changeDetails(item.id)" name="itemPrice">
          </td>
          <td>{{item.total}}</td>
          <td><button class="btn btn-danger" (click)="removeOrderItem(item.id)">X</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div>{{"Order.Total sum" | translate}}: {{orderToUpdate.totalSum}}</div>
  </div>
  <button type="submit" (click)="updateOrder()" class="btn btn-primary">{{"Button.Update" | translate}}</button>
</form>
