<h2>Add game</h2>
<div>
<form class="col-5">
    <div class="form-group">
      <label for="gameName">Name</label>
      <input class="form-control" id="gameName" [(ngModel)]="gameModel.name"  [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
        <label for="gameKey">Key</label>
        <input class="form-control" id="gameKey" [(ngModel)]="gameModel.key" [ngModelOptions]="{standalone:true}">
    </div>
    <div class="form-group">
        <label for="gamePrice">Price</label>
        <input class="form-control" id="gamePrice" type="number"  [(ngModel)]="gameModel.price" [ngModelOptions]="{standalone:true}">
    </div>
    <div class="form-group">
        <label for="gameDiscounted">Discounted</label>
        <input class="form-control" id="gameDiscounted" type="checkbox" [(ngModel)]="gameModel.discounted" [ngModelOptions]="{standalone:true}">
    </div>
    <div class="form-group">
        <label for="unitsOfGameInStock">Units in stock</label>
        <input class="form-control" id="unitsOfGameInStock" type="number" [(ngModel)]="gameModel.unitsInStock" [ngModelOptions]="{standalone:true}">
    </div>
    <div class="form-group">
      <label for="gameDescription">Description</label>
      <textarea class="form-control" id="gameDescription" rows="3" [(ngModel)]="gameModel.description" [ngModelOptions]="{standalone:true}"></textarea>
    </div>
    <div class="form-group">
        <select (change)="onPlatformChange($event.target.value)">
            <option [ngValue]="null" disabled>Select platforms</option>
            <option *ngFor="let platform of platforms" [ngValue]="platform.id" >{{platform.type}}</option>
        </select>
    </div>
    <input type="button" (click)="addGame()" value="Add game">
  </form>
</div>