<form class="col-4" #form="ngForm">
  <div class="form-group">
    <label>Company name</label>
    <input class="form-control" required #companyName="ngModel" [(ngModel)]="publisherToEdit.companyName" maxlength="40"
      name="inputCompanyName">
    <p *ngIf="companyName.invalid && companyName.touched">Enter company name</p>
  </div>
  <div class="form-group">
    <label>HomePage</label>
    <input class="form-control" required #homePage="ngModel" [(ngModel)]="publisherToEdit.homePage" maxlength="400"
      name="inputHomePage">
    <p *ngIf="homePage.invalid && homePage.touched">Enter home page</p>
  </div>
  <div class="form-group">
    <label>Description</label>
    <textarea class="form-control" required #pubDescription="ngModel" [(ngModel)]="publisherToEdit.description"
      maxlength="1000" name="textareaDescription"></textarea>
    <p *ngIf="pubDescription.invalid && pubDescription.touched">Enter description</p>
  </div>
  <input type="submit" class="btn btn-success" [disabled]="!form.valid" (click)="updatePublisher()"
    value="Update publisher">
</form>
