<form #form="ngForm">
  <div class="form-group col-4">
    <div>
      <mat-tab-group>
        <mat-tab [label]="'Button.Lang.en' | translate">
          <div class="form-group">
            <label>{{"Name" | translate}}</label>
            <input class="form-control" type="text" required #genreName="ngModel" [(ngModel)]="genreToAdd.name"
              maxlength="150" name="genreName">
            <p *ngIf="genreName.invalid && genreName.touched">{{"Errors.RequiredField" | translate}}</p>
          </div>
          <div class="form-group">
            <label>{{"Labels.Description" | translate}}</label>
            <input class="form-control" type="textarea" ngModel [(ngModel)]="genreToAdd.description"
              name="genreDescriptionEnglish">
          </div>
        </mat-tab>
        <mat-tab *ngFor="let translate of this.genreToAdd.translations"
          [label]="'Button.Lang.'+ translate.language | translate">
          <div class="form-group">
            <label>{{"Name" | translate}}</label>
            <input class="form-control" type="text" ngModel [(ngModel)]="translate.name"
              name="genreName{{translate.language}}">
          </div>
          <div class="form-group">
            <label>{{"Labels.Description" | translate}}</label>
            <input class="form-control" type="textarea" ngModel [(ngModel)]="translate.description"
              name="genreDescription{{translate.language}}">
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div>
      <label>{{"Genre.Parent genre" | translate}}: </label>
      <select #parentGenre name="parentGenre">
        <option selected [ngValue]="null">None</option>
        <option *ngFor="let genre of allGenres" value="{{genre.id}}">{{genre.name}}</option>
      </select>
    </div>
    <input type="submit" [disabled]="!form.valid" class="btn btn-success" (click)="addGenre()"
      [value]="'Button.Add' | translate">
  </div>
</form>
